<script src="https://unpkg.com/react@18.3.1/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@18.3.1/umd/react-dom.production.min.js" crossorigin></script>
<script src="{{ '/assets/js/theme-toggle.js' | relative_url }}?v=3"></script>
<script src="{{ '/assets/js/tweaks-panel.js' | relative_url }}?v=3"></script>
<script src="{{ '/assets/js/tweaks.js' | relative_url }}?v=3"></script>
<script src="{{ '/assets/js/scroll-progress.js' | relative_url }}"></script>
