.content-container {
    margin: 0 auto;
    max-width: 700px; /* Adjust to your preferred maximum width */
    width: 100%;
    padding: 0 15px; /* Adds padding on smaller screens */
    text-align: left;
}

@media only screen and (max-width: 768px) {
    .content-container {
        padding: 0 15px;
    }
}

/* For addding descriptions to tile in normal looking paragraphs */
.normal-paragraph {
    font-size: 1em !important; /* Reset font size */
    font-weight: bold !important; /* Reset font weight */
    letter-spacing: normal !important; /* Reset letter spacing */
    margin-bottom: 1em !important; /* Add some space below the paragraph */
    text-transform: none !important; /* Ensure text is not uppercase */
  }

  .your-image-class {
    margin-bottom: 0;
}

.your-caption-class {
    font-size: 14px; /* adjust as per your requirement */
    /* color: #777;    this gives a grey color, adjust as needed */
    font-weight: normal;
    /* color: $palette[accent1]; */
}

.image-container {
    display: flex;
    justify-content: space-between; /* This will space the images evenly */
}

@font-face {
    font-family: 'avris';
    src: url('/fonts/avris.otf') format('opentype');
}

/* Minimap */
.minimap__container{
    position: fixed;
    top: 10px;
    bottom: 10px;
    right: 10px;
    width: 15%;
    min-width: 20px;
    z-index: 100;

}

.minimap__size{
    position: relative;
    z-index: 5;
    border: 2px solid white;
}

.minimap__viewer{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;
    z-index: 100;
    border: 1px solid #0000009a;
}

.minimap__content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform-origin: 0 0;
    border: 1px solid white;
    
}