.content-container {
    margin: 0 auto;
    max-width: 700px; /* Adjust to your preferred maximum width */
    width: 100%;
    padding: 0 20px; /* Adds padding on smaller screens */
    text-align: left;
}

@media only screen and (max-width: 768px) {
    .content-container {
        padding: 0 15px;
    }
}
