<!DOCTYPE html>

<html>

{% include head.html %}

<body>

    {% include header.html %} 
    
    
<!-- Main -->
<div id="main" class="alt">
	<div class="content-container">
		<!-- One -->
		<section id="one">
			<div class="inner">
				<header class="major">
					<h2>{{ page.title }}</h2>
					<i><b>Tools used:</b></i> {{ page.toolsused}}
				</header>
				<!-- {% if page.image %}<span class="image main"><img src="{{ site.baseurl }}/{{ page.image }}" alt="" /></span>{% endif %} -->
				{{ content }}
			</div>
		</section>
	</div>
</div>

    {% include footer.html %}

</body>

</html>
